In [1]:
!ls -v1 *.csv

53_julienC_Ste-Margueritte_et_Notre-Dame.csv
53_stephane_Ste-Marguerite_et_Notre-Dame.csv
55-56_stephane_StSulpice.csv
55-56_yann_StSulpice.csv
58-59_bertrand_HotelSoissons.csv
58-59_julienp.csv
58-59_stephane_HotelSoissons.csv
61-62_pascal_PorteStDenis.csv
61-62_stephane_PorteStDenis.csv
61-62_yann_StDenis.csv

In [2]:
import pandas as pd 
import os

inputs = ["53_julienC_Ste-Margueritte_et_Notre-Dame.csv",
"53_stephane_Ste-Marguerite_et_Notre-Dame.csv",
"55-56_stephane_StSulpice.csv",
"55-56_yann_StSulpice.csv",
"58-59_bertrand_HotelSoissons.csv",
"58-59_julienp.csv",
"58-59_stephane_HotelSoissons.csv",
"61-62_pascal_PorteStDenis.csv",
"61-62_stephane_PorteStDenis.csv",
"61-62_yann_StDenis.csv"]

files = pd.DataFrame(inputs, [f.split("_")[0] for f in inputs], columns=["file"])
print(files)
files = files.groupby(files.index, as_index=True)

groups = []
for grp in files:
    data = [(f,pd.read_csv(f, header=[0,1])) for f in grp[1]["file"].values]
    groups.append(data)

                                               file
53     53_julienC_Ste-Margueritte_et_Notre-Dame.csv
53     53_stephane_Ste-Marguerite_et_Notre-Dame.csv
55-56                  55-56_stephane_StSulpice.csv
55-56                      55-56_yann_StSulpice.csv
58-59              58-59_bertrand_HotelSoissons.csv
58-59                             58-59_julienp.csv
58-59              58-59_stephane_HotelSoissons.csv
61-62                 61-62_pascal_PorteStDenis.csv
61-62               61-62_stephane_PorteStDenis.csv
61-62                        61-62_yann_StDenis.csv

In [3]:
from IPython.display import display_html 

def display_diff(a, b, caption_a="", caption_b=""):
    v = pd.DataFrame(a != b).applymap(lambda x: "background:red" if x != 0 else "")
    to_side = lambda tbl : tbl.style.apply(lambda s: v, axis=None).set_table_attributes("style='display:inline'")
    a =  to_side(a).set_caption(caption_a)
    b = to_side(b).set_caption(caption_b)
    display_html(a._repr_html_()+b._repr_html_(), raw=True)
    
for grp in groups:
    display_diff(grp[0][1], grp[1][1], grp[0][0], grp[1][0])